<div class="container">
   <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <span class="pull-right name"><small><%= @user.username %></small></span>
      <br>
        <div class="panel show">
          <div class="panel-heading"></div>
            <div class="post content">
            <br>
            <% if @user == current_user %>
            <span class="pull-right profile"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>&emsp;<%= link_to 'Edit Profile', edit_user_registration_path, :class => "btn btn-profile" %></span>
            <br>
            <br>
            <br>
            <% else %>
            <% end %>
            <div>
              <span class="pull-left image-60"><%= image_tag(@user.avatar.url(:thumb)) %></span>
              <span class="user-info"><h3><%= @user.fullname %></h3></span>
              <% if @user.location.present? %>
              <p><%= @user.position %> from <%= @user.location %></p>
              <% end %>
              <br>
              <% if @user.player.present? %>
              <p>Plays like <%= @user.player %>.</p>
              <% end %>
              <% if @user.instagram.present? %>
              <%= link_to 'Instagram', @user.instagram, target: :_blank %>
              <% end %>
            </div>
            <br>
            <p><%= @user.description %></p>
            <br>
            <h4 class="dime" style="color: #f57d00"><%= @user.posts.count %> Dimes</h4>
            <hr>
            <% @user.posts.each do |post| %>
            <br>
              <div class="post">
                <h4>
                  <%= link_to post.title, post, {:style => "color: #47535b"} %><br>
                </h4>
              <% end %>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>