<% content_for :head do %>
  <title><%= @post.title %> | Hoopwall</title>
  
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@hoopwallhq">
  <meta name="twitter:creator" content="@hoopwallhq">
  <meta name="twitter:title" content="<%= @post.title %>">
  <meta name="twitter:description" content="<%= @post.body %>">
  
  <!-- Open Graph data -->
  <meta property="og:site_name" content="Hoopwall">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:description" content="<%= @post.body %>">
<% end %>
  

<div class="container">
   <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <span class="pull-right round-image-40"><%= image_tag(@post.user.avatar.url(:thumb)) %></span>
      <span class="pull-right name"><small>Posted by <%= link_to @post.user.username, user_path(@post.user, @post) %></small></span>
       <br>
        <div class="panel show">
          <div class="panel-heading"></div>
            <div class="post content">
              <h4><%= @post.title %><br></h4>
              <br>
              <p><%= @post.body %></p>
              <% if @post.url.present? %>
              <div>
                <% if user_signed_in? %><%= link_to 'Visit Link', @post.url, class: "btn btn-primary", target: :_blank %>
                <% else %>
                <%= link_to 'Sign In or Up to View Link', new_user_session_path, class: "btn btn-primary" %>
                <% end %>
                <br>
              </div>
              <% else %>
              <% end %>
              <br>
              <div class="btn-group">
                  <%= link_to like_post_path(@post), method: :put, class: "btn btn-default btn-sm" do %>
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    Upvote
                    <%= @post.get_upvotes.size %>
                  <% end %>

                  <%= link_to dislike_post_path(@post), method: :put, class: "btn btn-default btn-sm" do %>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    Downvote
                    <%= @post.get_downvotes.size %>
                  <% end %>
                </div> 
                
              <br>
              <br>
              <% if @post.user == current_user %>
              <div class="btn-group">
                <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
                <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
              </div>
              <br>
              <br>
            <% end %>
            
            <%= social_share_button_tag(@post.title, :allow_sites => %w(twitter facebook google_plus email)) %>

            <% if @post.user.fullname.present? %>
            <br>
            <h4>Written by <%= @post.user.fullname %></h4>
            <hr>
            <% end %>

            <% if user_signed_in? %>
            <br>
            <br>
            <br>
            
            

            <%= simple_form_for [@post, Comment.new]  do |f| %>
              <div class="field">
                <%= f.text_area :body, rows: 5, cols: 25,  :placeholder => "Add a comment ..." %>
              </div>
              <br>
              <%= f.submit "Add Comment", class: "btn btn-primary" %>
            <% end %>
            <% end %>
            </div>

            <div class="container">
            <h3 class="comments_title">
              <%= @post.comments.count %> Comments
            </h3>
            </div>

            <br>

            <div id="comments">
              <%= render :partial => @post.comments %>
            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
     <h4 class="title" style="color: #47535b">More Hoops</h4>
      <div class="panel show">
          <div class="panel-heading"></div>
            <div class="post content">
              <span class="pull-left round-image-40 random"><%= image_tag(@random_post.user.avatar.url(:thumb)) %></span>
              <h4><%= link_to @random_post.title, post_path(@random_post),  {:style => "color: #47535b"} %><br></h4>
              <span class="pull-left name"><small>Posted by <%= link_to @random_post.user.username, user_path(@random_post.user, @post) %></small></span>
        </div>
      </div>
    </div>
  </div>
</div>