<!DOCTYPE html>
<html>
  <head>
    <title>Hoopwall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700" rel="stylesheet">
    
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Hoopwall"/>
    <meta property="og:description" content="Hoopwall is a community for basketball enthusiasts."/>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <% alert_class = case key
        when :notice then "success"
        when :alert then "danger"
        else key
        end %>
        <%= content_tag :div, class: "alert alert-info" do %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= value %>
        <% end %>
    <% end %>

    <%= render 'shared/navbar' %>

    <div>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
